* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/background.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    color: lightgrey;
}

button {
    cursor: pointer;
    border: none;
    outline: inherit;
    background-color: transparent;
    color: inherit;
}

#menu-button {
    position: fixed;

    right: 2rem;
    top: 2rem;   
}

#menu {
    position: fixed;
    top: 30vh;

    display: none;
    flex-direction: column;

    width: 100vw;
}

.menu-item {
    margin-bottom: 2rem;
    font-size: 3rem;

}

.section {
    padding-left: 10vw;
    padding-top: 30vh;

}

.emphasis {
    color: #33b1ca;
}

#home h1 {
    font-size: 5rem;
}

#home p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about, #whole30, #contact {
    display: none;
}

#whole30-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.whole30-image {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.whole30-title {
    text-align: center;
    font-size: 1.2rem;
    color: #33b1ca;
}

h2 {
    font-size: 3rem;
}

#author-image {
    height: 8rem;
    border-radius: 50%;
    float: left;
}

.icon-link {
    text-decoration: none;
    color: #33b1ca;
    margin-right: 1rem;
}

#about p {
    display: inline-block;
    font-size: 1.2rem;
    width: 60%;
    padding: 1rem;
    padding-top: 0px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.02);
    margin-left: 0.5rem;
}

#contact p {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.02);
    padding: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, .menu-item:hover, #menu-button:hover {
    opacity: 0.7;
}